html, body, #app{
  height: 100%;
  margin: 0;
}
#app {
  display: flex;
}

.red {
  color : #f00;
  order : 1;
}

.box {
  width: 100px;
  height: 60px;
  background: #f00;
  margin: 2px;
}

.green {
  background: #0f0;
}

.blue {
  background: #00f;
} 