* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; 
}

input, button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #667580;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header nav ul li:first-child {
  margin-left: 0;
}

header#main-header div.side {
  display: flex;
  align-items: center;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  background: #3bb9e3;
  width: 90px;
  height: 34px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 15px;
}

header#main-header div.side input {
  width: 220px;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #f5f8fa url("/images/search.svg") no-repeat 190px center;
}

div.banner {
  width: 100%;
  height: 380px;
  background: #3bb9e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.banner h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: #fff;
}

div.bar {
  height: 59px;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px; 
  height: 100%;
}

div.bar .content ul{
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  position: relative;
  justify-content: center;
}

div.bar .content ul li.active::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
}

div.bar div.content ul li.active strong {
  color: #3bb9e3;
}
div.bar .content ul li span{
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong{
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px ;
}

div.bar .content .actions button {
  color: red;
}
