<strong> Sejá bem vindo, {{ user }} !</strong>
<p>
  <p>A sua matricula foi feita com sucesso ! </p>
  <strong>Detalhes</strong>
  <strong> Plano: </strong> {{ user }} <br>
  <strong> Data de início : </strong> {{ date }} <br>
  <strong> Data de término : </strong> {{ date }} <br>
  <strong> Valor : </strong>>
<br>
<small>
  O horario está novamente disponivel para novos agendamentos 
</small>
</p>